USE [master]
GO
/****** Object:  Database [drivenow_db]    Script Date: 10/15/2025 7:18:50 AM ******/
CREATE DATABASE [drivenow_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'drivenow_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\drivenow_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'drivenow_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\drivenow_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [drivenow_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [drivenow_db]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 10/15/2025 7:18:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[role] [nvarchar](20) NOT NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 10/15/2025 7:18:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[role] [nvarchar](50) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bookings]    Script Date: 10/15/2025 7:18:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[base_price] [float] NULL,
	[cleaning_fee] [float] NULL,
	[created_at] [datetime2](6) NULL,
	[discount_amount] [float] NULL,
	[discount_code] [varchar](255) NULL,
	[distance_fee] [float] NULL,
	[driver_price] [float] NULL,
	[estimated_distance] [int] NULL,
	[fuel_surcharge] [float] NULL,
	[insurance_fee] [float] NULL,
	[pickup_location] [varchar](255) NOT NULL,
	[pickup_time] [datetime2](6) NOT NULL,
	[return_location] [varchar](255) NOT NULL,
	[return_time] [datetime2](6) NOT NULL,
	[seat_surcharge] [float] NULL,
	[special_requests] [varchar](255) NULL,
	[status] [varchar](20) NULL,
	[toll_fee] [float] NULL,
	[total_price] [numeric](10, 2) NULL,
	[trip_type] [varchar](255) NULL,
	[updated_at] [datetime2](6) NULL,
	[car_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[driver_id] [int] NULL,
	[cancellation_reason] [text] NULL,
	[extension_days] [int] NULL,
	[extension_price] [numeric](10, 2) NULL,
	[is_extended] [bit] NULL,
	[notes] [text] NULL,
	[original_return_date] [datetime2](6) NULL,
	[payment_method] [varchar](50) NULL,
	[payment_status] [varchar](20) NULL,
	[pickup_date] [datetime2](6) NOT NULL,
	[return_date] [datetime2](6) NOT NULL,
	[total_days] [int] NOT NULL,
	[group_booking_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[car_images]    Script Date: 10/15/2025 7:18:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[car_images](
	[car_id] [int] NOT NULL,
	[image_url] [varchar](255) NULL,
	[car_image_id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[description] [varchar](255) NULL,
	[type] [varchar](20) NULL,
	[url] [varchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cars]    Script Date: 10/15/2025 7:18:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cars](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[brand] [varchar](50) NULL,
	[color] [varchar](255) NULL,
	[daily_rate] [float] NULL,
	[description] [text] NULL,
	[fuel_type] [varchar](50) NULL,
	[license_plate] [varchar](255) NOT NULL,
	[mileage] [int] NULL,
	[model] [varchar](50) NULL,
	[name] [varchar](255) NOT NULL,
	[seat_capacity] [int] NULL,
	[status] [varchar](20) NULL,
	[transmission_type] [varchar](255) NULL,
	[year] [int] NULL,
	[created_at] [datetime2](6) NULL,
	[image_url] [varchar](255) NULL,
	[insurance_info] [varchar](255) NULL,
	[location] [varchar](100) NULL,
	[price_per_day] [numeric](10, 2) NULL,
	[seats] [int] NULL,
	[updated_at] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 10/15/2025 7:18:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[address] [nvarchar](255) NULL,
	[dob] [date] NULL,
	[gender] [nvarchar](10) NULL,
	[avatar_url] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[delivery_schedules]    Script Date: 10/15/2025 7:18:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[delivery_schedules](
	[schedule_id] [int] IDENTITY(1,1) NOT NULL,
	[actual_time] [datetime2](6) NULL,
	[cancellation_reason] [text] NULL,
	[car_condition_after] [text] NULL,
	[car_condition_before] [text] NULL,
	[contact_person] [varchar](100) NULL,
	[contact_phone] [varchar](20) NULL,
	[created_at] [datetime2](6) NULL,
	[delay_reason] [text] NULL,
	[delivery_method] [varchar](50) NULL,
	[fuel_level_after] [int] NULL,
	[fuel_level_before] [int] NULL,
	[image_url_after] [varchar](500) NULL,
	[image_url_before] [varchar](500) NULL,
	[location] [varchar](255) NOT NULL,
	[mileage_after] [int] NULL,
	[mileage_before] [int] NULL,
	[notes] [text] NULL,
	[schedule_type] [varchar](20) NOT NULL,
	[scheduled_time] [datetime2](6) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[booking_id] [int] NOT NULL,
	[driver_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[driver]    Script Date: 10/15/2025 7:18:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[driver](
	[driver_id] [int] IDENTITY(1,1) NOT NULL,
	[address] [varchar](255) NULL,
	[avatar_url] [varchar](255) NULL,
	[average_rating] [numeric](3, 2) NULL,
	[bio] [text] NULL,
	[created_at] [datetime2](6) NULL,
	[id_card] [varchar](50) NULL,
	[license_number] [varchar](50) NULL,
	[status] [varchar](20) NULL,
	[updated_at] [datetime2](6) NULL,
	[years_of_experience] [int] NULL,
	[account_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[driver_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[favorites]    Script Date: 10/15/2025 7:18:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favorites](
	[favorite_id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[car_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[favorite_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[group_bookings]    Script Date: 10/15/2025 7:18:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[group_bookings](
	[group_booking_id] [int] IDENTITY(1,1) NOT NULL,
	[cancellation_reason] [text] NULL,
	[created_at] [datetime2](6) NULL,
	[discount_amount] [numeric](10, 2) NULL,
	[discount_percentage] [numeric](5, 2) NULL,
	[group_name] [varchar](200) NULL,
	[notes] [text] NULL,
	[payment_method] [varchar](50) NULL,
	[payment_status] [varchar](20) NULL,
	[pickup_date] [datetime2](6) NOT NULL,
	[pickup_location] [varchar](255) NOT NULL,
	[return_date] [datetime2](6) NOT NULL,
	[return_location] [varchar](255) NULL,
	[status] [varchar](20) NOT NULL,
	[total_cars] [int] NOT NULL,
	[total_days] [int] NOT NULL,
	[total_price] [numeric](12, 2) NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[customer_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[group_booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[history]    Script Date: 10/15/2025 7:18:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[history](
	[history_id] [int] IDENTITY(1,1) NOT NULL,
	[action] [varchar](100) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[description] [text] NULL,
	[entity_id] [int] NULL,
	[entity_type] [varchar](50) NULL,
	[ip_address] [varchar](50) NULL,
	[metadata] [text] NULL,
	[status] [varchar](20) NULL,
	[user_agent] [varchar](255) NULL,
	[account_id] [int] NOT NULL,
	[booking_id] [int] NULL,
	[driver_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[otp]    Script Date: 10/15/2025 7:18:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[otp](
	[otp_id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[email] [varchar](100) NOT NULL,
	[expiration_time] [datetime2](6) NOT NULL,
	[is_used] [bit] NULL,
	[otp_code] [varchar](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[otp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[price_configurations]    Script Date: 10/15/2025 7:18:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[price_configurations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[active] [bit] NULL,
	[cleaning_fee] [numeric](38, 2) NULL,
	[distance_fee_over_100] [numeric](38, 2) NULL,
	[distance_fee_under_100] [numeric](38, 2) NULL,
	[driver_fee_inner_city] [numeric](38, 2) NULL,
	[driver_fee_inter_city] [numeric](38, 2) NULL,
	[driver_fee_outer_city] [numeric](38, 2) NULL,
	[fuel_surcharge_percentage] [numeric](38, 2) NULL,
	[insurance_fee_per_day] [numeric](38, 2) NULL,
	[seat_count] [int] NULL,
	[seat_surcharge] [numeric](38, 2) NULL,
	[toll_fee_inner_city] [numeric](38, 2) NULL,
	[toll_fee_inter_city] [numeric](38, 2) NULL,
	[toll_fee_outer_city] [numeric](38, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rental_contracts]    Script Date: 10/15/2025 7:18:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rental_contracts](
	[contract_id] [int] IDENTITY(1,1) NOT NULL,
	[additional_terms] [text] NULL,
	[cancellation_reason] [text] NULL,
	[car_condition] [text] NULL,
	[car_info] [text] NOT NULL,
	[contract_date] [datetime2](6) NOT NULL,
	[contract_file_url] [varchar](500) NULL,
	[contract_number] [varchar](50) NOT NULL,
	[contract_template] [varchar](50) NULL,
	[created_at] [datetime2](6) NULL,
	[deposit_amount] [numeric](12, 2) NULL,
	[end_date] [datetime2](6) NOT NULL,
	[expiry_date] [datetime2](6) NULL,
	[insurance_amount] [numeric](12, 2) NULL,
	[is_archived] [bit] NULL,
	[is_signed] [bit] NULL,
	[lessee_address] [varchar](255) NULL,
	[lessee_date_of_birth] [datetime2](6) NULL,
	[lessee_email] [varchar](100) NULL,
	[lessee_id_card] [varchar](20) NULL,
	[lessee_license_expiry] [datetime2](6) NULL,
	[lessee_license_number] [varchar](50) NULL,
	[lessee_name] [varchar](200) NOT NULL,
	[lessee_phone] [varchar](20) NULL,
	[lessee_signature_url] [varchar](500) NULL,
	[lessee_signed_at] [datetime2](6) NULL,
	[lessor_address] [varchar](255) NOT NULL,
	[lessor_email] [varchar](100) NULL,
	[lessor_name] [varchar](200) NOT NULL,
	[lessor_phone] [varchar](20) NULL,
	[lessor_representative] [varchar](100) NULL,
	[lessor_signature_url] [varchar](500) NULL,
	[lessor_signed_at] [datetime2](6) NULL,
	[lessor_tax_code] [varchar](50) NULL,
	[notes] [text] NULL,
	[start_date] [datetime2](6) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[terms_and_conditions] [text] NOT NULL,
	[total_amount] [numeric](12, 2) NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[booking_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[contract_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 10/15/2025 7:18:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[cleanliness_rating] [int] NULL,
	[comment] [text] NULL,
	[created_at] [datetime2](6) NULL,
	[is_verified] [bit] NULL,
	[performance_rating] [int] NULL,
	[rating] [int] NOT NULL,
	[service_rating] [int] NULL,
	[updated_at] [datetime2](6) NULL,
	[booking_id] [int] NOT NULL,
	[car_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([account_id], [username], [password], [role], [status], [created_at], [updated_at]) VALUES (1, N'admin@drivenow.com', N'$2a$10$N9qo8uLOickgx2ZMRZoMyeIjZAgcfl7p92ldGxad68LJZdL17lhWy', N'admin', N'active', CAST(N'2025-10-09T09:39:42.8600000' AS DateTime2), CAST(N'2025-10-09T09:39:42.8600000' AS DateTime2))
INSERT [dbo].[Account] ([account_id], [username], [password], [role], [status], [created_at], [updated_at]) VALUES (2, N'customer@gmail.com', N'$2a$10$zVG8A8Et.i/bVctvAWZeFO6eo1rDWuBQ0Wmw8sowlVxkgR7QM6miG', N'customer', N'active', CAST(N'2025-10-09T09:39:42.8633333' AS DateTime2), CAST(N'2025-10-10T12:22:58.7727520' AS DateTime2))
INSERT [dbo].[Account] ([account_id], [username], [password], [role], [status], [created_at], [updated_at]) VALUES (3, N'customer1@gmail.com', N'$2a$10$KEMvNX1ceLLJ1HiBHeHRg.dUK7q6JiSKPNSC96DuejahPSx2FUmw6', N'customer', N'inactive', CAST(N'2025-10-09T10:27:31.0216980' AS DateTime2), CAST(N'2025-10-10T12:29:32.4871430' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([admin_id], [account_id], [role], [created_at], [updated_at]) VALUES (1, 1, N'super_admin', CAST(N'2025-10-09T09:39:42.8600000' AS DateTime2), CAST(N'2025-10-09T09:39:42.8600000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([customer_id], [account_id], [full_name], [phone], [email], [address], [dob], [gender], [avatar_url], [created_at], [updated_at]) VALUES (1, 2, N'Nguyễn Văn A', N'0987654321', N'customer@gmail.com', N'123 Đường ABC, TP.HCM', CAST(N'2000-01-15' AS Date), N'male', NULL, CAST(N'2025-10-09T09:39:42.8633333' AS DateTime2), CAST(N'2025-10-09T09:39:42.8633333' AS DateTime2))
INSERT [dbo].[Customer] ([customer_id], [account_id], [full_name], [phone], [email], [address], [dob], [gender], [avatar_url], [created_at], [updated_at]) VALUES (2, 3, N'Nguyen Van A', N'0901234567', N'customer1@gmail.com', N'Ho Chi Minh City', CAST(N'1990-01-01' AS Date), N'male', NULL, CAST(N'2025-10-09T10:27:31.0462910' AS DateTime2), CAST(N'2025-10-09T10:27:31.0462910' AS DateTime2))
INSERT [dbo].[Customer] ([customer_id], [account_id], [full_name], [phone], [email], [address], [dob], [gender], [avatar_url], [created_at], [updated_at]) VALUES (3, 4, N'Nguyen Van Test', N'0901234567', N'testuser@gmail.com', N'123 Test Street, HCM', NULL, NULL, NULL, CAST(N'2025-10-14T20:02:55.0572150' AS DateTime2), CAST(N'2025-10-14T20:02:55.0572150' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[otp] ON 

INSERT [dbo].[otp] ([otp_id], [created_at], [email], [expiration_time], [is_used], [otp_code]) VALUES (9, CAST(N'2025-10-10T12:18:29.9857110' AS DateTime2), N'customer1@gmail.com', CAST(N'2025-10-10T12:23:29.9757100' AS DateTime2), 1, N'155394')
INSERT [dbo].[otp] ([otp_id], [created_at], [email], [expiration_time], [is_used], [otp_code]) VALUES (10, CAST(N'2025-10-10T12:21:19.3606590' AS DateTime2), N'customer@gmail.com', CAST(N'2025-10-10T12:26:19.3606600' AS DateTime2), 0, N'318070')
INSERT [dbo].[otp] ([otp_id], [created_at], [email], [expiration_time], [is_used], [otp_code]) VALUES (11, CAST(N'2025-10-10T12:22:37.1785340' AS DateTime2), N'customer@gmail.com', CAST(N'2025-10-10T12:27:37.1785350' AS DateTime2), 1, N'802045')
SET IDENTITY_INSERT [dbo].[otp] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKgex1lmaqpg0ir5g1f5eftyaa1]    Script Date: 10/15/2025 7:18:51 AM ******/
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [UKgex1lmaqpg0ir5g1f5eftyaa1] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__F3DBC572957EC66F]    Script Date: 10/15/2025 7:18:51 AM ******/
ALTER TABLE [dbo].[Account] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKkpqdh7cixswtifyy72wpkxu1m]    Script Date: 10/15/2025 7:18:51 AM ******/
ALTER TABLE [dbo].[Admin] ADD  CONSTRAINT [UKkpqdh7cixswtifyy72wpkxu1m] UNIQUE NONCLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Admin__46A222CC744A9C57]    Script Date: 10/15/2025 7:18:51 AM ******/
ALTER TABLE [dbo].[Admin] ADD UNIQUE NONCLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKdbc9idlyetvssufb2vxicvb87]    Script Date: 10/15/2025 7:18:51 AM ******/
ALTER TABLE [dbo].[cars] ADD  CONSTRAINT [UKdbc9idlyetvssufb2vxicvb87] UNIQUE NONCLUSTERED 
(
	[license_plate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKjwt2qo9oj3wd7ribjkymryp8s]    Script Date: 10/15/2025 7:18:51 AM ******/
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [UKjwt2qo9oj3wd7ribjkymryp8s] UNIQUE NONCLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Customer__46A222CC250011DC]    Script Date: 10/15/2025 7:18:51 AM ******/
ALTER TABLE [dbo].[Customer] ADD UNIQUE NONCLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKlgfl993uyk39fvxtch4swmceg]    Script Date: 10/15/2025 7:18:51 AM ******/
ALTER TABLE [dbo].[driver] ADD  CONSTRAINT [UKlgfl993uyk39fvxtch4swmceg] UNIQUE NONCLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKjnbs0k6tbc5qaje9bl31k5yvu]    Script Date: 10/15/2025 7:18:51 AM ******/
ALTER TABLE [dbo].[favorites] ADD  CONSTRAINT [UKjnbs0k6tbc5qaje9bl31k5yvu] UNIQUE NONCLUSTERED 
(
	[customer_id] ASC,
	[car_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKg2ygkcegr6n91ro236p7e2wsh]    Script Date: 10/15/2025 7:18:51 AM ******/
ALTER TABLE [dbo].[rental_contracts] ADD  CONSTRAINT [UKg2ygkcegr6n91ro236p7e2wsh] UNIQUE NONCLUSTERED 
(
	[contract_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKh6cjhdmes5rqglx5wa1tnxgsq]    Script Date: 10/15/2025 7:18:51 AM ******/
ALTER TABLE [dbo].[rental_contracts] ADD  CONSTRAINT [UKh6cjhdmes5rqglx5wa1tnxgsq] UNIQUE NONCLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Admin] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Admin] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD  CONSTRAINT [FKn2eatyxq78i3wg18tt0jf56lw] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Admin] CHECK CONSTRAINT [FKn2eatyxq78i3wg18tt0jf56lw]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [FK6x5e5djklrqmwp95uwleauni9] FOREIGN KEY([driver_id])
REFERENCES [dbo].[driver] ([driver_id])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [FK6x5e5djklrqmwp95uwleauni9]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [FK8md4njs5a5njp63yv11k9sajw] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [FK8md4njs5a5njp63yv11k9sajw]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [FKdbrqb46qfddkkka33787k1i9g] FOREIGN KEY([group_booking_id])
REFERENCES [dbo].[group_bookings] ([group_booking_id])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [FKdbrqb46qfddkkka33787k1i9g]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [FKj1y19nc7wf0rdp24pyhomn7ck] FOREIGN KEY([car_id])
REFERENCES [dbo].[cars] ([id])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [FKj1y19nc7wf0rdp24pyhomn7ck]
GO
ALTER TABLE [dbo].[car_images]  WITH CHECK ADD  CONSTRAINT [FKet593krc5137jxdk5cxdah2vd] FOREIGN KEY([car_id])
REFERENCES [dbo].[cars] ([id])
GO
ALTER TABLE [dbo].[car_images] CHECK CONSTRAINT [FKet593krc5137jxdk5cxdah2vd]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FKn9x2k8svpxj3r328iy1rpur83] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FKn9x2k8svpxj3r328iy1rpur83]
GO
ALTER TABLE [dbo].[delivery_schedules]  WITH CHECK ADD  CONSTRAINT [FKf4iw9953vi8vm9rb5aubs72ij] FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([id])
GO
ALTER TABLE [dbo].[delivery_schedules] CHECK CONSTRAINT [FKf4iw9953vi8vm9rb5aubs72ij]
GO
ALTER TABLE [dbo].[delivery_schedules]  WITH CHECK ADD  CONSTRAINT [FKnaydyvyynfm6aramsv2y6719n] FOREIGN KEY([driver_id])
REFERENCES [dbo].[driver] ([driver_id])
GO
ALTER TABLE [dbo].[delivery_schedules] CHECK CONSTRAINT [FKnaydyvyynfm6aramsv2y6719n]
GO
ALTER TABLE [dbo].[driver]  WITH CHECK ADD  CONSTRAINT [FKjadmq2tv9b60y5p0wfy16w9it] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[driver] CHECK CONSTRAINT [FKjadmq2tv9b60y5p0wfy16w9it]
GO
ALTER TABLE [dbo].[favorites]  WITH CHECK ADD  CONSTRAINT [FK3heqirsldosc0crrfg6l76a8w] FOREIGN KEY([car_id])
REFERENCES [dbo].[cars] ([id])
GO
ALTER TABLE [dbo].[favorites] CHECK CONSTRAINT [FK3heqirsldosc0crrfg6l76a8w]
GO
ALTER TABLE [dbo].[favorites]  WITH CHECK ADD  CONSTRAINT [FKoyt0sxepwr5sys7a8w334epdg] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[favorites] CHECK CONSTRAINT [FKoyt0sxepwr5sys7a8w334epdg]
GO
ALTER TABLE [dbo].[group_bookings]  WITH CHECK ADD  CONSTRAINT [FK7gab9bm8jalnci31d1s25brs5] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[group_bookings] CHECK CONSTRAINT [FK7gab9bm8jalnci31d1s25brs5]
GO
ALTER TABLE [dbo].[history]  WITH CHECK ADD  CONSTRAINT [FK2mpn4nxqqsu7euii4hwhbjeg8] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[history] CHECK CONSTRAINT [FK2mpn4nxqqsu7euii4hwhbjeg8]
GO
ALTER TABLE [dbo].[history]  WITH CHECK ADD  CONSTRAINT [FK9rggoxepn2pnd584o8aa5j90r] FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([id])
GO
ALTER TABLE [dbo].[history] CHECK CONSTRAINT [FK9rggoxepn2pnd584o8aa5j90r]
GO
ALTER TABLE [dbo].[history]  WITH CHECK ADD  CONSTRAINT [FKm6prcgrksi1ceb55y24al4er4] FOREIGN KEY([driver_id])
REFERENCES [dbo].[driver] ([driver_id])
GO
ALTER TABLE [dbo].[history] CHECK CONSTRAINT [FKm6prcgrksi1ceb55y24al4er4]
GO
ALTER TABLE [dbo].[rental_contracts]  WITH CHECK ADD  CONSTRAINT [FKiri3tm5s52e4bxw16pupxx0r9] FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([id])
GO
ALTER TABLE [dbo].[rental_contracts] CHECK CONSTRAINT [FKiri3tm5s52e4bxw16pupxx0r9]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK28an517hrxtt2bsg93uefugrm] FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK28an517hrxtt2bsg93uefugrm]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK2p7fjk3udy4rltb6dpwvet5tx] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK2p7fjk3udy4rltb6dpwvet5tx]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FKieeb3p5v84i1xja7nbj1vkkeg] FOREIGN KEY([car_id])
REFERENCES [dbo].[cars] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FKieeb3p5v84i1xja7nbj1vkkeg]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD CHECK  (([role]='admin' OR [role]='driver' OR [role]='customer'))
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD CHECK  (([status]='banned' OR [status]='inactive' OR [status]='active'))
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD CHECK  (([status]='CANCELLED' OR [status]='COMPLETED' OR [status]='IN_PROGRESS' OR [status]='CONFIRMED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD CHECK  (([trip_type]='INTER_CITY' OR [trip_type]='OUTER_CITY' OR [trip_type]='INNER_CITY'))
GO
ALTER TABLE [dbo].[cars]  WITH CHECK ADD CHECK  (([seat_capacity]<=(7) AND [seat_capacity]>=(4)))
GO
USE [master]
GO
