USE [master]
GO
/****** Object:  Database [drivenow_db]    Script Date: 10/22/2025 9:32:50 AM ******/
CREATE DATABASE [drivenow_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'drivenow_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\drivenow_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'drivenow_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\drivenow_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [drivenow_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [drivenow_db]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 10/22/2025 9:32:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[role] [nvarchar](20) NOT NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 10/22/2025 9:32:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[role] [varchar](50) NULL,
	[updated_at] [datetime2](6) NULL,
	[account_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bookings]    Script Date: 10/22/2025 9:32:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[base_price] [float] NULL,
	[cleaning_fee] [float] NULL,
	[created_at] [datetime2](6) NULL,
	[discount_amount] [float] NULL,
	[discount_code] [varchar](255) NULL,
	[distance_fee] [float] NULL,
	[driver_price] [float] NULL,
	[estimated_distance] [int] NULL,
	[fuel_surcharge] [float] NULL,
	[insurance_fee] [float] NULL,
	[pickup_location] [varchar](255) NOT NULL,
	[pickup_time] [datetime2](6) NOT NULL,
	[return_location] [varchar](255) NOT NULL,
	[return_time] [datetime2](6) NOT NULL,
	[seat_surcharge] [float] NULL,
	[special_requests] [varchar](255) NULL,
	[status] [varchar](20) NULL,
	[toll_fee] [float] NULL,
	[total_price] [numeric](10, 2) NULL,
	[trip_type] [varchar](255) NULL,
	[updated_at] [datetime2](6) NULL,
	[car_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[driver_id] [int] NULL,
	[cancellation_reason] [text] NULL,
	[extension_days] [int] NULL,
	[extension_price] [numeric](10, 2) NULL,
	[is_extended] [bit] NULL,
	[notes] [text] NULL,
	[original_return_date] [datetime2](6) NULL,
	[payment_method] [varchar](50) NULL,
	[payment_status] [varchar](20) NULL,
	[pickup_date] [datetime2](6) NOT NULL,
	[return_date] [datetime2](6) NOT NULL,
	[total_days] [int] NOT NULL,
	[group_booking_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[car_images]    Script Date: 10/22/2025 9:32:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[car_images](
	[car_id] [int] NOT NULL,
	[image_url] [varchar](255) NULL,
	[car_image_id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[description] [varchar](255) NULL,
	[type] [varchar](20) NULL,
	[url] [varchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cars]    Script Date: 10/22/2025 9:32:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cars](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[brand] [nvarchar](50) NULL,
	[color] [nvarchar](50) NULL,
	[daily_rate] [float] NULL,
	[description] [nvarchar](max) NULL,
	[fuel_type] [nvarchar](50) NULL,
	[license_plate] [nvarchar](50) NULL,
	[mileage] [int] NULL,
	[model] [nvarchar](50) NULL,
	[name] [nvarchar](100) NULL,
	[seat_capacity] [int] NULL,
	[status] [nvarchar](50) NULL,
	[transmission_type] [nvarchar](50) NULL,
	[year] [int] NULL,
	[created_at] [datetime2](6) NULL,
	[image_url] [nvarchar](500) NULL,
	[insurance_info] [nvarchar](500) NULL,
	[location] [nvarchar](200) NULL,
	[price_per_day] [numeric](10, 2) NULL,
	[seats] [int] NULL,
	[updated_at] [datetime2](6) NULL,
	[daily_km_limit] [int] NULL,
	[exceed_fee_per_km] [int] NULL,
	[fuel_consumption] [decimal](5, 2) NULL,
	[car_type] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 10/22/2025 9:32:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[address] [nvarchar](255) NULL,
	[dob] [date] NULL,
	[gender] [nvarchar](10) NULL,
	[avatar_url] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[delivery_schedules]    Script Date: 10/22/2025 9:32:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[delivery_schedules](
	[schedule_id] [int] IDENTITY(1,1) NOT NULL,
	[actual_time] [datetime2](6) NULL,
	[cancellation_reason] [text] NULL,
	[car_condition_after] [text] NULL,
	[car_condition_before] [text] NULL,
	[contact_person] [varchar](100) NULL,
	[contact_phone] [varchar](20) NULL,
	[created_at] [datetime2](6) NULL,
	[delay_reason] [text] NULL,
	[delivery_method] [varchar](50) NULL,
	[fuel_level_after] [int] NULL,
	[fuel_level_before] [int] NULL,
	[image_url_after] [varchar](500) NULL,
	[image_url_before] [varchar](500) NULL,
	[location] [varchar](255) NOT NULL,
	[mileage_after] [int] NULL,
	[mileage_before] [int] NULL,
	[notes] [text] NULL,
	[schedule_type] [varchar](20) NOT NULL,
	[scheduled_time] [datetime2](6) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[booking_id] [int] NOT NULL,
	[driver_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deposit_management]    Script Date: 10/22/2025 9:32:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deposit_management](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[booking_id] [bigint] NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[deposit_amount] [numeric](15, 2) NOT NULL,
	[deposit_code] [varchar](50) NOT NULL,
	[deposit_date] [datetime2](6) NULL,
	[deposit_status] [varchar](20) NOT NULL,
	[notes] [varchar](1000) NULL,
	[payment_method] [varchar](50) NULL,
	[penalty_amount] [numeric](15, 2) NULL,
	[refund_amount] [numeric](15, 2) NULL,
	[refund_date] [datetime2](6) NULL,
	[transaction_id] [bigint] NULL,
	[updated_at] [datetime2](6) NULL,
	[user_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deposits]    Script Date: 10/22/2025 9:32:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deposits](
	[deposit_id] [bigint] IDENTITY(1,1) NOT NULL,
	[payment_id] [bigint] NOT NULL,
	[booking_id] [bigint] NOT NULL,
	[amount] [bigint] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[hold_token] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[refunded_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[deposit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[driver]    Script Date: 10/22/2025 9:32:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[driver](
	[driver_id] [int] IDENTITY(1,1) NOT NULL,
	[address] [varchar](255) NULL,
	[avatar_url] [varchar](255) NULL,
	[average_rating] [numeric](3, 2) NULL,
	[bio] [text] NULL,
	[created_at] [datetime2](6) NULL,
	[id_card] [varchar](50) NULL,
	[license_number] [varchar](50) NULL,
	[status] [varchar](20) NULL,
	[updated_at] [datetime2](6) NULL,
	[years_of_experience] [int] NULL,
	[account_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[driver_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[favorites]    Script Date: 10/22/2025 9:32:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favorites](
	[favorite_id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[car_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[favorite_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[group_bookings]    Script Date: 10/22/2025 9:32:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[group_bookings](
	[group_booking_id] [int] IDENTITY(1,1) NOT NULL,
	[cancellation_reason] [text] NULL,
	[created_at] [datetime2](6) NULL,
	[discount_amount] [numeric](10, 2) NULL,
	[discount_percentage] [numeric](5, 2) NULL,
	[group_name] [varchar](200) NULL,
	[notes] [text] NULL,
	[payment_method] [varchar](50) NULL,
	[payment_status] [varchar](20) NULL,
	[pickup_date] [datetime2](6) NOT NULL,
	[pickup_location] [varchar](255) NOT NULL,
	[return_date] [datetime2](6) NOT NULL,
	[return_location] [varchar](255) NULL,
	[status] [varchar](20) NOT NULL,
	[total_cars] [int] NOT NULL,
	[total_days] [int] NOT NULL,
	[total_price] [numeric](12, 2) NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[customer_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[group_booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[history]    Script Date: 10/22/2025 9:32:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[history](
	[history_id] [int] IDENTITY(1,1) NOT NULL,
	[action] [varchar](100) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[description] [text] NULL,
	[entity_id] [int] NULL,
	[entity_type] [varchar](50) NULL,
	[ip_address] [varchar](50) NULL,
	[metadata] [text] NULL,
	[status] [varchar](20) NULL,
	[user_agent] [varchar](255) NULL,
	[account_id] [int] NOT NULL,
	[booking_id] [int] NULL,
	[driver_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loyalty_history]    Script Date: 10/22/2025 9:32:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loyalty_history](
	[history_id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[description] [varchar](500) NULL,
	[order_value] [bigint] NULL,
	[points] [int] NOT NULL,
	[transaction_type] [varchar](20) NOT NULL,
	[user_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loyalty_points]    Script Date: 10/22/2025 9:32:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loyalty_points](
	[loyalty_id] [bigint] IDENTITY(1,1) NOT NULL,
	[last_updated] [datetime2](6) NOT NULL,
	[lifetime_points] [int] NOT NULL,
	[points] [int] NOT NULL,
	[user_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[loyalty_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[otp]    Script Date: 10/22/2025 9:32:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[otp](
	[otp_id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NULL,
	[email] [varchar](100) NOT NULL,
	[expiration_time] [datetime2](6) NOT NULL,
	[is_used] [bit] NULL,
	[otp_code] [varchar](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[otp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 10/22/2025 9:32:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[payment_id] [bigint] IDENTITY(1,1) NOT NULL,
	[booking_id] [bigint] NULL,
	[user_id] [bigint] NULL,
	[order_id] [nvarchar](100) NOT NULL,
	[request_id] [nvarchar](100) NOT NULL,
	[gateway_transaction_id] [bigint] NULL,
	[amount] [bigint] NOT NULL,
	[currency] [nvarchar](3) NULL,
	[payment_method] [nvarchar](50) NULL,
	[payment_type] [nvarchar](50) NULL,
	[status] [nvarchar](20) NOT NULL,
	[result_code] [int] NULL,
	[message] [nvarchar](500) NULL,
	[pay_url] [nvarchar](1000) NULL,
	[deeplink] [nvarchar](1000) NULL,
	[qr_code_url] [nvarchar](1000) NULL,
	[order_info] [nvarchar](500) NULL,
	[extra_data] [nvarchar](max) NULL,
	[signature] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[completed_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[price_configurations]    Script Date: 10/22/2025 9:32:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[price_configurations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[active] [bit] NULL,
	[cleaning_fee] [numeric](38, 2) NULL,
	[distance_fee_over_100] [numeric](38, 2) NULL,
	[distance_fee_under_100] [numeric](38, 2) NULL,
	[driver_fee_inner_city] [numeric](38, 2) NULL,
	[driver_fee_inter_city] [numeric](38, 2) NULL,
	[driver_fee_outer_city] [numeric](38, 2) NULL,
	[fuel_surcharge_percentage] [numeric](38, 2) NULL,
	[insurance_fee_per_day] [numeric](38, 2) NULL,
	[seat_count] [int] NULL,
	[seat_surcharge] [numeric](38, 2) NULL,
	[toll_fee_inner_city] [numeric](38, 2) NULL,
	[toll_fee_inter_city] [numeric](38, 2) NULL,
	[toll_fee_outer_city] [numeric](38, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promo_codes]    Script Date: 10/22/2025 9:32:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promo_codes](
	[promo_code_id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[expires_at] [datetime2](6) NULL,
	[max_uses] [int] NULL,
	[min_order_value] [bigint] NULL,
	[promotion_id] [bigint] NOT NULL,
	[single_use] [bit] NOT NULL,
	[used_count] [int] NULL,
	[user_restriction] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[promo_code_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promotions]    Script Date: 10/22/2025 9:32:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promotions](
	[promotion_id] [bigint] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime2](6) NOT NULL,
	[created_by] [bigint] NULL,
	[description] [nvarchar](max) NULL,
	[discount_type] [varchar](20) NOT NULL,
	[discount_value] [numeric](10, 2) NOT NULL,
	[end_date] [datetime2](6) NOT NULL,
	[max_discount_amount] [bigint] NULL,
	[min_order_value] [bigint] NULL,
	[name] [varchar](200) NOT NULL,
	[start_date] [datetime2](6) NOT NULL,
	[status] [varchar](20) NULL,
	[updated_at] [datetime2](6) NULL,
	[usage_limit] [int] NULL,
	[used_count] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[promotion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[refunds]    Script Date: 10/22/2025 9:32:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[refunds](
	[refund_id] [bigint] IDENTITY(1,1) NOT NULL,
	[payment_id] [bigint] NOT NULL,
	[order_id] [nvarchar](100) NOT NULL,
	[request_id] [nvarchar](100) NOT NULL,
	[amount] [bigint] NOT NULL,
	[gateway_refund_id] [bigint] NULL,
	[status] [nvarchar](20) NOT NULL,
	[result_code] [int] NULL,
	[message] [nvarchar](500) NULL,
	[reason] [nvarchar](1000) NULL,
	[created_by] [bigint] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[completed_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[refund_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rental_contracts]    Script Date: 10/22/2025 9:32:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rental_contracts](
	[contract_id] [int] IDENTITY(1,1) NOT NULL,
	[additional_terms] [text] NULL,
	[cancellation_reason] [text] NULL,
	[car_condition] [text] NULL,
	[car_info] [text] NOT NULL,
	[contract_date] [datetime2](6) NOT NULL,
	[contract_file_url] [varchar](500) NULL,
	[contract_number] [varchar](50) NOT NULL,
	[contract_template] [varchar](50) NULL,
	[created_at] [datetime2](6) NULL,
	[deposit_amount] [numeric](12, 2) NULL,
	[end_date] [datetime2](6) NOT NULL,
	[expiry_date] [datetime2](6) NULL,
	[insurance_amount] [numeric](12, 2) NULL,
	[is_archived] [bit] NULL,
	[is_signed] [bit] NULL,
	[lessee_address] [varchar](255) NULL,
	[lessee_date_of_birth] [datetime2](6) NULL,
	[lessee_email] [varchar](100) NULL,
	[lessee_id_card] [varchar](20) NULL,
	[lessee_license_expiry] [datetime2](6) NULL,
	[lessee_license_number] [varchar](50) NULL,
	[lessee_name] [varchar](200) NOT NULL,
	[lessee_phone] [varchar](20) NULL,
	[lessee_signature_url] [varchar](500) NULL,
	[lessee_signed_at] [datetime2](6) NULL,
	[lessor_address] [varchar](255) NOT NULL,
	[lessor_email] [varchar](100) NULL,
	[lessor_name] [varchar](200) NOT NULL,
	[lessor_phone] [varchar](20) NULL,
	[lessor_representative] [varchar](100) NULL,
	[lessor_signature_url] [varchar](500) NULL,
	[lessor_signed_at] [datetime2](6) NULL,
	[lessor_tax_code] [varchar](50) NULL,
	[notes] [text] NULL,
	[start_date] [datetime2](6) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[terms_and_conditions] [text] NOT NULL,
	[total_amount] [numeric](12, 2) NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[booking_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[contract_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rental_payments]    Script Date: 10/22/2025 9:32:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rental_payments](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[payment_code] [varchar](50) NOT NULL,
	[booking_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[transaction_id] [bigint] NULL,
	[rental_amount] [decimal](15, 2) NOT NULL,
	[discount_amount] [decimal](15, 2) NULL,
	[additional_fee] [decimal](15, 2) NULL,
	[total_amount] [decimal](15, 2) NOT NULL,
	[payment_status] [varchar](20) NOT NULL,
	[payment_method] [varchar](50) NULL,
	[payment_date] [datetime2](7) NULL,
	[due_date] [datetime2](7) NULL,
	[notes] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[revenue_reports]    Script Date: 10/22/2025 9:32:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[revenue_reports](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[report_code] [varchar](50) NOT NULL,
	[report_date] [date] NOT NULL,
	[total_deposits] [decimal](15, 2) NULL,
	[total_payments] [decimal](15, 2) NULL,
	[total_refunds] [decimal](15, 2) NULL,
	[total_penalties] [decimal](15, 2) NULL,
	[net_revenue] [decimal](15, 2) NULL,
	[transaction_count] [int] NULL,
	[notes] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 10/22/2025 9:32:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[cleanliness_rating] [int] NULL,
	[comment] [text] NULL,
	[created_at] [datetime2](6) NULL,
	[is_verified] [bit] NULL,
	[performance_rating] [int] NULL,
	[rating] [int] NOT NULL,
	[service_rating] [int] NULL,
	[updated_at] [datetime2](6) NULL,
	[booking_id] [int] NOT NULL,
	[car_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transaction_management]    Script Date: 10/22/2025 9:32:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transaction_management](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[amount] [numeric](15, 2) NOT NULL,
	[booking_id] [bigint] NULL,
	[completed_at] [datetime2](6) NULL,
	[created_at] [datetime2](6) NOT NULL,
	[description] [varchar](500) NULL,
	[payment_method] [varchar](50) NOT NULL,
	[reference_code] [varchar](100) NULL,
	[status] [varchar](20) NOT NULL,
	[transaction_code] [varchar](50) NOT NULL,
	[transaction_type] [varchar](20) NOT NULL,
	[updated_at] [datetime2](6) NULL,
	[user_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vnpay_payments]    Script Date: 10/22/2025 9:32:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vnpay_payments](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[amount] [numeric](38, 2) NOT NULL,
	[bank_code] [varchar](255) NULL,
	[created_at] [datetime2](6) NOT NULL,
	[order_id] [varchar](255) NOT NULL,
	[order_info] [varchar](255) NULL,
	[payment_status] [varchar](255) NOT NULL,
	[transaction_no] [varchar](255) NULL,
	[updated_at] [datetime2](6) NULL,
	[user_id] [bigint] NOT NULL,
	[vnpay_response_code] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([account_id], [username], [password], [role], [status], [created_at], [updated_at]) VALUES (1, N'admin@drivenow.com', N'$2a$10$rRebB5Pnh8w53Y64xff49u3rGxJljVxqSXFAaePp15nkD3H/zpnjW', N'admin', N'active', CAST(N'2025-10-09T09:39:42.8600000' AS DateTime2), CAST(N'2025-10-16T11:23:28.8440920' AS DateTime2))
INSERT [dbo].[Account] ([account_id], [username], [password], [role], [status], [created_at], [updated_at]) VALUES (2, N'customer@gmail.com', N'$2a$10$95bhtmi1uVj7Ood7bWA0OOPeFIG21HMx4mGgnco0N2GuFPHZ9vwDm', N'customer', N'active', CAST(N'2025-10-09T09:39:42.8633333' AS DateTime2), CAST(N'2025-10-12T17:15:42.2252630' AS DateTime2))
INSERT [dbo].[Account] ([account_id], [username], [password], [role], [status], [created_at], [updated_at]) VALUES (3, N'customer1@gmail.com', N'$2a$10$KEMvNX1ceLLJ1HiBHeHRg.dUK7q6JiSKPNSC96DuejahPSx2FUmw6', N'customer', N'inactive', CAST(N'2025-10-09T10:27:31.0216980' AS DateTime2), CAST(N'2025-10-10T12:29:32.4871430' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[cars] ON 

SET IDENTITY_INSERT [dbo].[cars] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([customer_id], [account_id], [full_name], [phone], [email], [address], [dob], [gender], [avatar_url], [created_at], [updated_at]) VALUES (1, 2, N'Nguyễn Văn A', N'0987654321', N'customer@gmail.com', N'123 Đường ABC, TP.HCM', CAST(N'2000-01-15' AS Date), N'male', NULL, CAST(N'2025-10-09T09:39:42.8633333' AS DateTime2), CAST(N'2025-10-09T09:39:42.8633333' AS DateTime2))
INSERT [dbo].[Customer] ([customer_id], [account_id], [full_name], [phone], [email], [address], [dob], [gender], [avatar_url], [created_at], [updated_at]) VALUES (2, 3, N'Nguyen Van A', N'0901234567', N'customer1@gmail.com', N'Ho Chi Minh City', CAST(N'1990-01-01' AS Date), N'male', NULL, CAST(N'2025-10-09T10:27:31.0462910' AS DateTime2), CAST(N'2025-10-09T10:27:31.0462910' AS DateTime2))
INSERT [dbo].[Customer] ([customer_id], [account_id], [full_name], [phone], [email], [address], [dob], [gender], [avatar_url], [created_at], [updated_at]) VALUES (3, 4, N'The Quyen', N'0908845984', N'quyenthedinh@gmail.com', NULL, NULL, NULL, NULL, CAST(N'2025-10-14T17:22:10.7525000' AS DateTime2), CAST(N'2025-10-14T17:22:10.7525000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[otp] ON 

INSERT [dbo].[otp] ([otp_id], [created_at], [email], [expiration_time], [is_used], [otp_code]) VALUES (2, CAST(N'2025-10-16T11:23:47.1409590' AS DateTime2), N'quyenthedinh@gmail.com', CAST(N'2025-10-16T11:28:47.1400050' AS DateTime2), 1, N'589437')
SET IDENTITY_INSERT [dbo].[otp] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKgex1lmaqpg0ir5g1f5eftyaa1]    Script Date: 10/22/2025 9:32:51 AM ******/
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [UKgex1lmaqpg0ir5g1f5eftyaa1] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__F3DBC5721CCC8F3B]    Script Date: 10/22/2025 9:32:51 AM ******/
ALTER TABLE [dbo].[Account] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__F3DBC572CC1DFEF6]    Script Date: 10/22/2025 9:32:51 AM ******/
ALTER TABLE [dbo].[Account] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__F3DBC572FB0A0B8F]    Script Date: 10/22/2025 9:32:51 AM ******/
ALTER TABLE [dbo].[Account] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKkpqdh7cixswtifyy72wpkxu1m]    Script Date: 10/22/2025 9:32:51 AM ******/
ALTER TABLE [dbo].[admin] ADD  CONSTRAINT [UKkpqdh7cixswtifyy72wpkxu1m] UNIQUE NONCLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKdbc9idlyetvssufb2vxicvb87]    Script Date: 10/22/2025 9:32:51 AM ******/
ALTER TABLE [dbo].[cars] ADD  CONSTRAINT [UKdbc9idlyetvssufb2vxicvb87] UNIQUE NONCLUSTERED 
(
	[license_plate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKjwt2qo9oj3wd7ribjkymryp8s]    Script Date: 10/22/2025 9:32:51 AM ******/
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [UKjwt2qo9oj3wd7ribjkymryp8s] UNIQUE NONCLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Customer__46A222CC3D261D37]    Script Date: 10/22/2025 9:32:51 AM ******/
ALTER TABLE [dbo].[Customer] ADD UNIQUE NONCLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Customer__46A222CC5F1A0716]    Script Date: 10/22/2025 9:32:51 AM ******/
ALTER TABLE [dbo].[Customer] ADD UNIQUE NONCLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Customer__46A222CCFA48EC9B]    Script Date: 10/22/2025 9:32:51 AM ******/
ALTER TABLE [dbo].[Customer] ADD UNIQUE NONCLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK8dbat9l1qh1thshhwu8r5p242]    Script Date: 10/22/2025 9:32:51 AM ******/
ALTER TABLE [dbo].[deposit_management] ADD  CONSTRAINT [UK8dbat9l1qh1thshhwu8r5p242] UNIQUE NONCLUSTERED 
(
	[deposit_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_deposits_booking_id]    Script Date: 10/22/2025 9:32:51 AM ******/
CREATE NONCLUSTERED INDEX [idx_deposits_booking_id] ON [dbo].[deposits]
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_deposits_status]    Script Date: 10/22/2025 9:32:51 AM ******/
CREATE NONCLUSTERED INDEX [idx_deposits_status] ON [dbo].[deposits]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKlgfl993uyk39fvxtch4swmceg]    Script Date: 10/22/2025 9:32:51 AM ******/
ALTER TABLE [dbo].[driver] ADD  CONSTRAINT [UKlgfl993uyk39fvxtch4swmceg] UNIQUE NONCLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKjnbs0k6tbc5qaje9bl31k5yvu]    Script Date: 10/22/2025 9:32:51 AM ******/
ALTER TABLE [dbo].[favorites] ADD  CONSTRAINT [UKjnbs0k6tbc5qaje9bl31k5yvu] UNIQUE NONCLUSTERED 
(
	[customer_id] ASC,
	[car_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKpo5k4e6nx6no1j433kj03fpjy]    Script Date: 10/22/2025 9:32:51 AM ******/
ALTER TABLE [dbo].[loyalty_points] ADD  CONSTRAINT [UKpo5k4e6nx6no1j433kj03fpjy] UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK8vo36cen604as7etdfwmyjsxt]    Script Date: 10/22/2025 9:32:51 AM ******/
ALTER TABLE [dbo].[payments] ADD  CONSTRAINT [UK8vo36cen604as7etdfwmyjsxt] UNIQUE NONCLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKftljd2eom059poi2j3k4r27gy]    Script Date: 10/22/2025 9:32:51 AM ******/
ALTER TABLE [dbo].[payments] ADD  CONSTRAINT [UKftljd2eom059poi2j3k4r27gy] UNIQUE NONCLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__payments__18D3B90E49A75C32]    Script Date: 10/22/2025 9:32:51 AM ******/
ALTER TABLE [dbo].[payments] ADD UNIQUE NONCLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__payments__465962284E90A59A]    Script Date: 10/22/2025 9:32:51 AM ******/
ALTER TABLE [dbo].[payments] ADD UNIQUE NONCLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_payments_booking_id]    Script Date: 10/22/2025 9:32:51 AM ******/
CREATE NONCLUSTERED INDEX [idx_payments_booking_id] ON [dbo].[payments]
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_payments_created_at]    Script Date: 10/22/2025 9:32:51 AM ******/
CREATE NONCLUSTERED INDEX [idx_payments_created_at] ON [dbo].[payments]
(
	[created_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_payments_order_id]    Script Date: 10/22/2025 9:32:51 AM ******/
CREATE NONCLUSTERED INDEX [idx_payments_order_id] ON [dbo].[payments]
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_payments_status]    Script Date: 10/22/2025 9:32:51 AM ******/
CREATE NONCLUSTERED INDEX [idx_payments_status] ON [dbo].[payments]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_payments_user_id]    Script Date: 10/22/2025 9:32:51 AM ******/
CREATE NONCLUSTERED INDEX [idx_payments_user_id] ON [dbo].[payments]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKj9mo0xgfs34t6e3c17anidd83]    Script Date: 10/22/2025 9:32:51 AM ******/
ALTER TABLE [dbo].[promo_codes] ADD  CONSTRAINT [UKj9mo0xgfs34t6e3c17anidd83] UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__refunds__18D3B90E9D4FB124]    Script Date: 10/22/2025 9:32:51 AM ******/
ALTER TABLE [dbo].[refunds] ADD UNIQUE NONCLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_refunds_payment_id]    Script Date: 10/22/2025 9:32:51 AM ******/
CREATE NONCLUSTERED INDEX [idx_refunds_payment_id] ON [dbo].[refunds]
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_refunds_status]    Script Date: 10/22/2025 9:32:51 AM ******/
CREATE NONCLUSTERED INDEX [idx_refunds_status] ON [dbo].[refunds]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKg2ygkcegr6n91ro236p7e2wsh]    Script Date: 10/22/2025 9:32:51 AM ******/
ALTER TABLE [dbo].[rental_contracts] ADD  CONSTRAINT [UKg2ygkcegr6n91ro236p7e2wsh] UNIQUE NONCLUSTERED 
(
	[contract_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKh6cjhdmes5rqglx5wa1tnxgsq]    Script Date: 10/22/2025 9:32:51 AM ******/
ALTER TABLE [dbo].[rental_contracts] ADD  CONSTRAINT [UKh6cjhdmes5rqglx5wa1tnxgsq] UNIQUE NONCLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__rental_p__7234C6E33DFAE79D]    Script Date: 10/22/2025 9:32:51 AM ******/
ALTER TABLE [dbo].[rental_payments] ADD UNIQUE NONCLUSTERED 
(
	[payment_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_rental_booking]    Script Date: 10/22/2025 9:32:51 AM ******/
CREATE NONCLUSTERED INDEX [idx_rental_booking] ON [dbo].[rental_payments]
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_rental_user]    Script Date: 10/22/2025 9:32:51 AM ******/
CREATE NONCLUSTERED INDEX [idx_rental_user] ON [dbo].[rental_payments]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__revenue___0424E34799D2CEE2]    Script Date: 10/22/2025 9:32:51 AM ******/
ALTER TABLE [dbo].[revenue_reports] ADD UNIQUE NONCLUSTERED 
(
	[report_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKvy9hdm07ynmi4snks0ym9mn9]    Script Date: 10/22/2025 9:32:51 AM ******/
ALTER TABLE [dbo].[transaction_management] ADD  CONSTRAINT [UKvy9hdm07ynmi4snks0ym9mn9] UNIQUE NONCLUSTERED 
(
	[transaction_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK508hoy0vtd4pi0ml1uc5o1vof]    Script Date: 10/22/2025 9:32:51 AM ******/
ALTER TABLE [dbo].[vnpay_payments] ADD  CONSTRAINT [UK508hoy0vtd4pi0ml1uc5o1vof] UNIQUE NONCLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[deposits] ADD  DEFAULT ('HELD') FOR [status]
GO
ALTER TABLE [dbo].[deposits] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT ('VND') FOR [currency]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT ('INIT') FOR [status]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[refunds] ADD  DEFAULT ('INIT') FOR [status]
GO
ALTER TABLE [dbo].[refunds] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[rental_payments] ADD  DEFAULT ((0)) FOR [discount_amount]
GO
ALTER TABLE [dbo].[rental_payments] ADD  DEFAULT ((0)) FOR [additional_fee]
GO
ALTER TABLE [dbo].[rental_payments] ADD  DEFAULT ('PENDING') FOR [payment_status]
GO
ALTER TABLE [dbo].[rental_payments] ADD  DEFAULT (getdate()) FOR [payment_date]
GO
ALTER TABLE [dbo].[rental_payments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[rental_payments] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[revenue_reports] ADD  DEFAULT ((0)) FOR [total_deposits]
GO
ALTER TABLE [dbo].[revenue_reports] ADD  DEFAULT ((0)) FOR [total_payments]
GO
ALTER TABLE [dbo].[revenue_reports] ADD  DEFAULT ((0)) FOR [total_refunds]
GO
ALTER TABLE [dbo].[revenue_reports] ADD  DEFAULT ((0)) FOR [total_penalties]
GO
ALTER TABLE [dbo].[revenue_reports] ADD  DEFAULT ((0)) FOR [net_revenue]
GO
ALTER TABLE [dbo].[revenue_reports] ADD  DEFAULT ((0)) FOR [transaction_count]
GO
ALTER TABLE [dbo].[revenue_reports] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[revenue_reports] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[admin]  WITH CHECK ADD  CONSTRAINT [FKn2eatyxq78i3wg18tt0jf56lw] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[admin] CHECK CONSTRAINT [FKn2eatyxq78i3wg18tt0jf56lw]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [FK6x5e5djklrqmwp95uwleauni9] FOREIGN KEY([driver_id])
REFERENCES [dbo].[driver] ([driver_id])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [FK6x5e5djklrqmwp95uwleauni9]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [FK8md4njs5a5njp63yv11k9sajw] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [FK8md4njs5a5njp63yv11k9sajw]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [FKdbrqb46qfddkkka33787k1i9g] FOREIGN KEY([group_booking_id])
REFERENCES [dbo].[group_bookings] ([group_booking_id])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [FKdbrqb46qfddkkka33787k1i9g]
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD  CONSTRAINT [FKj1y19nc7wf0rdp24pyhomn7ck] FOREIGN KEY([car_id])
REFERENCES [dbo].[cars] ([id])
GO
ALTER TABLE [dbo].[bookings] CHECK CONSTRAINT [FKj1y19nc7wf0rdp24pyhomn7ck]
GO
ALTER TABLE [dbo].[car_images]  WITH CHECK ADD  CONSTRAINT [FKet593krc5137jxdk5cxdah2vd] FOREIGN KEY([car_id])
REFERENCES [dbo].[cars] ([id])
GO
ALTER TABLE [dbo].[car_images] CHECK CONSTRAINT [FKet593krc5137jxdk5cxdah2vd]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FKn9x2k8svpxj3r328iy1rpur83] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FKn9x2k8svpxj3r328iy1rpur83]
GO
ALTER TABLE [dbo].[delivery_schedules]  WITH CHECK ADD  CONSTRAINT [FKf4iw9953vi8vm9rb5aubs72ij] FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([id])
GO
ALTER TABLE [dbo].[delivery_schedules] CHECK CONSTRAINT [FKf4iw9953vi8vm9rb5aubs72ij]
GO
ALTER TABLE [dbo].[delivery_schedules]  WITH CHECK ADD  CONSTRAINT [FKnaydyvyynfm6aramsv2y6719n] FOREIGN KEY([driver_id])
REFERENCES [dbo].[driver] ([driver_id])
GO
ALTER TABLE [dbo].[delivery_schedules] CHECK CONSTRAINT [FKnaydyvyynfm6aramsv2y6719n]
GO
ALTER TABLE [dbo].[deposits]  WITH CHECK ADD FOREIGN KEY([payment_id])
REFERENCES [dbo].[payments] ([payment_id])
GO
ALTER TABLE [dbo].[driver]  WITH CHECK ADD  CONSTRAINT [FKjadmq2tv9b60y5p0wfy16w9it] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[driver] CHECK CONSTRAINT [FKjadmq2tv9b60y5p0wfy16w9it]
GO
ALTER TABLE [dbo].[favorites]  WITH CHECK ADD  CONSTRAINT [FK3heqirsldosc0crrfg6l76a8w] FOREIGN KEY([car_id])
REFERENCES [dbo].[cars] ([id])
GO
ALTER TABLE [dbo].[favorites] CHECK CONSTRAINT [FK3heqirsldosc0crrfg6l76a8w]
GO
ALTER TABLE [dbo].[favorites]  WITH CHECK ADD  CONSTRAINT [FKoyt0sxepwr5sys7a8w334epdg] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[favorites] CHECK CONSTRAINT [FKoyt0sxepwr5sys7a8w334epdg]
GO
ALTER TABLE [dbo].[group_bookings]  WITH CHECK ADD  CONSTRAINT [FK7gab9bm8jalnci31d1s25brs5] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[group_bookings] CHECK CONSTRAINT [FK7gab9bm8jalnci31d1s25brs5]
GO
ALTER TABLE [dbo].[history]  WITH CHECK ADD  CONSTRAINT [FK2mpn4nxqqsu7euii4hwhbjeg8] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[history] CHECK CONSTRAINT [FK2mpn4nxqqsu7euii4hwhbjeg8]
GO
ALTER TABLE [dbo].[history]  WITH CHECK ADD  CONSTRAINT [FK9rggoxepn2pnd584o8aa5j90r] FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([id])
GO
ALTER TABLE [dbo].[history] CHECK CONSTRAINT [FK9rggoxepn2pnd584o8aa5j90r]
GO
ALTER TABLE [dbo].[history]  WITH CHECK ADD  CONSTRAINT [FKm6prcgrksi1ceb55y24al4er4] FOREIGN KEY([driver_id])
REFERENCES [dbo].[driver] ([driver_id])
GO
ALTER TABLE [dbo].[history] CHECK CONSTRAINT [FKm6prcgrksi1ceb55y24al4er4]
GO
ALTER TABLE [dbo].[refunds]  WITH CHECK ADD FOREIGN KEY([payment_id])
REFERENCES [dbo].[payments] ([payment_id])
GO
ALTER TABLE [dbo].[rental_contracts]  WITH CHECK ADD  CONSTRAINT [FKiri3tm5s52e4bxw16pupxx0r9] FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([id])
GO
ALTER TABLE [dbo].[rental_contracts] CHECK CONSTRAINT [FKiri3tm5s52e4bxw16pupxx0r9]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK28an517hrxtt2bsg93uefugrm] FOREIGN KEY([booking_id])
REFERENCES [dbo].[bookings] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK28an517hrxtt2bsg93uefugrm]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK2p7fjk3udy4rltb6dpwvet5tx] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK2p7fjk3udy4rltb6dpwvet5tx]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FKieeb3p5v84i1xja7nbj1vkkeg] FOREIGN KEY([car_id])
REFERENCES [dbo].[cars] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FKieeb3p5v84i1xja7nbj1vkkeg]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD CHECK  (([role]='admin' OR [role]='driver' OR [role]='customer'))
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD CHECK  (([role]='admin' OR [role]='driver' OR [role]='customer'))
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD CHECK  (([role]='admin' OR [role]='driver' OR [role]='customer'))
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD CHECK  (([status]='banned' OR [status]='inactive' OR [status]='active'))
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD CHECK  (([status]='banned' OR [status]='inactive' OR [status]='active'))
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD CHECK  (([status]='banned' OR [status]='inactive' OR [status]='active'))
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD CHECK  (([status]='CANCELLED' OR [status]='COMPLETED' OR [status]='IN_PROGRESS' OR [status]='CONFIRMED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD CHECK  (([status]='CANCELLED' OR [status]='COMPLETED' OR [status]='IN_PROGRESS' OR [status]='CONFIRMED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD CHECK  (([trip_type]='INTER_CITY' OR [trip_type]='OUTER_CITY' OR [trip_type]='INNER_CITY'))
GO
ALTER TABLE [dbo].[bookings]  WITH CHECK ADD CHECK  (([trip_type]='INTER_CITY' OR [trip_type]='OUTER_CITY' OR [trip_type]='INNER_CITY'))
GO
ALTER TABLE [dbo].[cars]  WITH CHECK ADD CHECK  (([seat_capacity]<=(7) AND [seat_capacity]>=(4)))
GO
ALTER TABLE [dbo].[cars]  WITH CHECK ADD CHECK  (([seat_capacity]<=(7) AND [seat_capacity]>=(4)))
GO
ALTER TABLE [dbo].[deposit_management]  WITH CHECK ADD CHECK  (([deposit_status]='FORFEITED' OR [deposit_status]='PARTIALLY_REFUNDED' OR [deposit_status]='REFUNDED' OR [deposit_status]='PAID' OR [deposit_status]='PENDING'))
GO
ALTER TABLE [dbo].[promotions]  WITH CHECK ADD CHECK  (([discount_type]='FIXED_AMOUNT' OR [discount_type]='PERCENTAGE'))
GO
ALTER TABLE [dbo].[transaction_management]  WITH CHECK ADD CHECK  (([status]='CANCELLED' OR [status]='REFUNDED' OR [status]='FAILED' OR [status]='COMPLETED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[transaction_management]  WITH CHECK ADD CHECK  (([transaction_type]='PENALTY' OR [transaction_type]='REFUND' OR [transaction_type]='PAYMENT' OR [transaction_type]='DEPOSIT'))
GO
USE [master]
GO
